.banner-img {
    width: auto;
    background-size: cover;
    height: auto;
    position: relative;
    display: flex;
    justify-self: center;
}

.titulo {
    display: flex;
    justify-self: center;
    background-color: #140900;
    text-align: center;
    font-size: 60px;
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 250px;
    padding: 10px;
    padding-inline: 40px;
    border-radius: 20px;
    font-family: "Momo Signature", cursive;
}

.botao-carta {
    position: fixed;
    width: 150px;
    margin: 30px;
    display: flex;
    margin-top: 400px;
}

.botao-carta:hover {}

.instrumento {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 400px;
    z-index: 2;
    gap: 0px;
    background-image: ;
}

.teclab {
    width: 75px;
    height: 200px;
    background-color: white;
    border: 4px solid #503723;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    transition: all 0.1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.teclab:hover {
    background-color: #f0f0f0;
}

.teclab:active {
    background-color: #ddd;
    border: 4px solid #332216;
    transform: translateY(2px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}